<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  bootstrap="vendor/autoload.php" 
  colors="true" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" 
  cacheDirectory=".phpunit.cache" 
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true">
  <php>
    <!-- DATEV_SKIP_API_TESTS=1: Skip all API endpoint tests completely (fastest) -->
    <env name="DATEV_SKIP_API_TESTS" value="1"/>
    
    <!-- DATEV_FORCE_MOCK=1: Run tests with mock data without trying API connection -->
    <!-- <env name="DATEV_FORCE_MOCK" value="1"/> -->
  </php>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests</directory>
      <exclude>./tests/Contracts</exclude>
    </testsuite>
  </testsuites>
</phpunit>
