{
  "openapi": "3.0.1",
  "info": {
    "title": "hr:exchange",
    "description": "Users authenticate themselves to the DATEV data center via OAuth. After a successful authentication and authorization, the user can exchange payroll relevant data with both two payroll systems, <i>LODAS</i> or <i>Lohn und Gehalt</i>. Data can be retrieved as well as written.\n\nPossible values for employee and client data are described in this document under custom x-allowed-values-* tags.\nThe variations are: -enum (specific values allowed), -lower/upper-bound (minimum and maximum values), -regex (Regex-Expression to test for correct values) and -max-length (defining the maximum length of a string).\n\nData transfer is processed in an asynchronous manner, because the on-premise target system might be temporararily offline. Therefore, a data transfer request just creates a job in a queue and returns its job-uuid immediately. The client application uses the job-uuid in subsequent requests to monitor its progress and to retrieve the final result. \n\nFor read transfers, specify the resource to be read within the body of a POST request to /v1/clients/{client-id}/jobs \n\nFor write transfers, several endpoints are provided, depending on the resource that shall be created, updated or deleted. Most prominent will be POST or PUT to \n/v1/clients/{client-id}/employees\n\nTo monitor job progress, use a GET request on \n/v1/clients/{client-id}/jobs/{job-uuid}\n\nTo finally fetch the result, use GET on\n/v1/clients/{client-id}/jobs/{job-uuid}/result\n\nAs an alternative to progress polling, the client application may provide an endpoint to be notified by hr-exchange upon job completion. See /v1/clients/{client-id}/resthooks\n",
    "termsOfService": "https://www.datev.de/agb",
    "contact": {
      "name": "DATEV Schnittstellenberatung",
      "url": "https://www.datev.de/schnittstellen",
      "email": "schnittstellenberatung@datev.de"
    },
    "license": {
      "name": "DATEV eG",
      "url": "http://www.datev.de"
    },
    "version": "1.0.25",
    "x-datev-shortdescription": "With the REST API hr-exchange (Lohnaustauschdatenservice), payroll relevant data can be exchanged from the DATEV payroll systems to a third party software and vice versa.",
    "x-pathalias": "hr-exchange"
  },
  "servers": [
    {
      "url": "https://hr-exchange.api.datev.de/platform/v1"
    },
    {
      "url": "https://hr-exchange.api.datev.de/platform-sandbox/v1"
    }
  ],
  "paths": {
    "/clients/{client-id}/employees/{personnel-number}/absences/lug": {
      "post": {
        "tags": [
          "AbsencesLug"
        ],
        "summary": "Post a list of absences  for client-id and personnel-number",
        "description": "Creates a job to insert a list of new absence-records to the employee identified by their personnel number, who belongs to the client-id given.\nNote: This endpoint is for use with the payroll system LohnUndGehalt only.",
        "operationId": "saveAbsenceLuG",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "The absences to be posted.",
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 100000,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AbsenceLug"
                }
              },
              "example": [
                {
                  "personnel_number": 1,
                  "reason_for_absence": "K",
                  "date_of_emergence": "2024-01-01"
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02412</td><td>restapi.PersonnelNumberInvalid</td><td>The personnel number is invalid.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}/absences/lug/{absence-id}": {
      "delete": {
        "tags": [
          "AbsencesLug"
        ],
        "summary": "Delete an absence identified by absence-id for client-id and personnel-number",
        "description": "Creates a job to delete the absence record by its start-date, of the employee identified by their personnel number, who belongs to the client-id given.\nNote: This endpoint is for use with the payroll system \"Lohn und Gehalt\" only. \n",
        "operationId": "deleteAbsenceLuG",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "absence-id",
            "in": "path",
            "description": "Id of the absence to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 11451
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02412</td><td>restapi.PersonnelNumberInvalid</td><td>The personnel number is invalid.</td></tr><tr><td>#DCO02443</td><td>restapi.AbsenceIdInvalid</td><td>The absence id given in the URL is invalid.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}/absences/lodas": {
      "post": {
        "tags": [
          "AbsencesLodas"
        ],
        "summary": "Post a list of absences  for client-id and personnel-number",
        "description": "Creates a job to insert a list of new absence-records to the employee identified by their personnel number, who belongs to the client-id given.\nNote: This endpoint is for use with the payroll system LODAS only.",
        "operationId": "saveAbsenceLodas",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "The absences to be posted.",
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 100000,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AbsenceLodas"
                }
              },
              "example": [
                {
                  "personnel_number": 1,
                  "reason_for_absence": 113,
                  "absence_start_date": "2024-01-01",
                  "absence_end_date": "2024-01-07"
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02412</td><td>restapi.PersonnelNumberInvalid</td><td>The personnel number is invalid.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}/absences/lodas/{absence-start-date}": {
      "delete": {
        "tags": [
          "AbsencesLodas"
        ],
        "summary": "Delete an absence identified by absence-start-date for client-id and personnel-number",
        "description": "Creates a job to delete the absence record by its start-date, of the employee identified by their personnel number, who belongs to the client-id given.\nNote: This endpoint is for use with the payroll system LODAS only.",
        "operationId": "deleteAbsenceLodas",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "absence-start-date",
            "in": "path",
            "description": "Start date of the absence to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2024-11-19"
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02412</td><td>restapi.PersonnelNumberInvalid</td><td>The personnel number is invalid.</td></tr><tr><td>#DCO02444</td><td>restapi.AbsenceStartDateInvalid</td><td>The absence start date given in the URL is invalid.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Checks permission for a client-id",
        "description": "Response Status of this endpoint tells whether the callers permissions are sufficient to access payroll system data of the client-id given.",
        "operationId": "getClient",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          }
        ],
        "responses": {
          "200": {
            "description": "returns the status 200 OK with an empty body"
          },
          "403": {
            "description": "in case permissions are unavailable/missing, returns 403 FORBIDDEN with an empty body"
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees": {
      "put": {
        "tags": [
          "Employees"
        ],
        "summary": "Update a list of employees by client-id",
        "description": "Creates a job to update the data of multiple employees, which are to be identified by their personnel_number within the JSON Array of the request body. \nRestrictions: \n- When targeting the payroll system \"Lohn und Gehalt\", an employee's company_personnel_number can not be changed. \n- Employment Periods, being a nested subresource of an employees data, can not be updated via this endpoint. Use the designated endpoint /v1/clients/{client-id}/employees/{personnel-number}/employment-periods.",
        "operationId": "updateEmployeeListByClientId",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Target-System",
            "in": "header",
            "description": "Identifier of the target payroll system. Possible Values: lug=LohnUndGehalt, lodas=LODAS (default)",
            "schema": {
              "type": "string"
            },
            "example": "lug"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "The list of employees data with which the existing ones should be updated.",
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 100000,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Employee"
                }
              },
              "example": [
                {
                  "surname": "Schmidt",
                  "personnel_number": 1,
                  "first_name": "Inge-Muster",
                  "business_unit_id": 1,
                  "payment_method": "5",
                  "activity": {
                    "highest_level_of_professional_training": 2,
                    "highest_level_of_education": 3,
                    "occupational_title": "Holzaufbereiter",
                    "job_carried_out": "22394",
                    "employee_type": "101",
                    "contractual_structure": "1",
                    "activity_type": 0,
                    "personnel_leasing": 0
                  },
                  "account": {
                    "iban": "DE33760700240012345678",
                    "bic": "DEUTDEDB760"
                  },
                  "address": {
                    "city": "Nürnberg",
                    "country": "D",
                    "house_number": "78",
                    "postal_code": "90329",
                    "street": "Auf der Schanz"
                  },
                  "employment_periods": [
                    {
                      "date_of_commencement_of_employment": "1999-02-17"
                    }
                  ],
                  "personal_data": {
                    "nationality": "000",
                    "sex": "W",
                    "country_of_birth": "000",
                    "date_of_birth": "1971-01-01",
                    "social_security_number": "13010171B975"
                  },
                  "social_insurance": {
                    "contribution_class_health_insurance": 1,
                    "contribution_class_nursing_insurance": 1,
                    "contribution_class_pension_insurance": 1,
                    "contribution_class_unemployment_insurance": 1,
                    "company_number_of_health_insurer": "87880235",
                    "health_insurance_id": 1,
                    "is_additional_contribution_to_nursing_insurance_for_childless_ignored": true
                  },
                  "tax_card": {
                    "child_tax_allowances": 2,
                    "denomination": "ev",
                    "tax_class": "4"
                  },
                  "taxation": {
                    "employment_type": 1,
                    "tax_identification_number": "16985432518",
                    "flat_rate_tax": 0
                  },
                  "vacation_entitlement": {
                    "basic_vacation_entitlement": 30
                  },
                  "vocational_training": {}
                },
                {
                  "surname": "Schlosser",
                  "personnel_number": 2,
                  "first_name": "Max-Muster",
                  "business_unit_id": 1,
                  "payment_method": "5",
                  "activity": {
                    "highest_level_of_professional_training": 1,
                    "highest_level_of_education": 3,
                    "occupational_title": "Bürokaufmann",
                    "employee_type": "102",
                    "contractual_structure": "1",
                    "activity_type": 3,
                    "personnel_leasing": 0
                  },
                  "account": {
                    "iban": "DE94760400610524371200",
                    "bic": "COBADEFF760"
                  },
                  "address": {
                    "city": "Nürnberg",
                    "country": "D",
                    "house_number": "101",
                    "postal_code": "90329",
                    "street": "Roonstr."
                  },
                  "employment_periods": [
                    {
                      "date_of_commencement_of_employment": "2008-09-01"
                    }
                  ],
                  "gross_payments": [
                    {
                      "id": 1,
                      "amount": 490,
                      "salary_type_id": 110,
                      "payment_months": "1,2,3,4,5,6,7,8,9,10,11,12"
                    }
                  ],
                  "personal_data": {
                    "nationality": "000",
                    "sex": "M",
                    "date_of_birth": "1989-02-24",
                    "social_security_number": "13240289S033"
                  },
                  "social_insurance": {
                    "contribution_class_health_insurance": 1,
                    "contribution_class_nursing_insurance": 1,
                    "contribution_class_pension_insurance": 1,
                    "contribution_class_unemployment_insurance": 1,
                    "company_number_of_health_insurer": "42938966",
                    "health_insurance_id": 10,
                    "is_additional_contribution_to_nursing_insurance_for_childless_ignored": false
                  },
                  "tax_card": {
                    "denomination": "rk",
                    "tax_class": "1"
                  },
                  "taxation": {
                    "employment_type": 1,
                    "tax_identification_number": "29876354281",
                    "flat_rate_tax": 0
                  },
                  "vacation_entitlement": {
                    "basic_vacation_entitlement": 27
                  },
                  "vocational_training": {
                    "start": "2019-09-01",
                    "expected_end": "2023-08-31"
                  }
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02419</td><td>restapi.CompanyPersonnelNumbersHaveToBeUnique</td><td>The company personnel number has to be unique.</td></tr><tr><td>#DCO02417</td><td>restapi.PersonnelNumbersHaveToBeUnique</td><td>The personnel number has to be unique.</td></tr><tr><td>#DCO02412</td><td>restapi.PersonnelNumberInvalid</td><td>The personnel number has to be unique.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Post a list of new employees for client-id",
        "description": "Creates a job to insert multiple new employee records into the target payroll systems database for the client id given. \nThe request body contains the JSON Array of employee data. When an employee's personnel_number is specified there, then this number must not be already be assigned within the client-id.\nIf an employee's personnel_number is not specified, then the payroll system will assign one automatically. \n",
        "operationId": "saveEmployeeByClientId",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Target-System",
            "in": "header",
            "description": "Identifier of the target payroll system. Possible Values: lug=LohnUndGehalt, lodas=LODAS (default)",
            "schema": {
              "type": "string"
            },
            "example": "lug"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "A list of employees to be posted.",
          "content": {
            "application/json": {
              "schema": {
                "maxItems": 100000,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Employee"
                }
              },
              "example": [
                {
                  "surname": "Steiermark",
                  "personnel_number": 1,
                  "first_name": "Marie-Antoinette-Muster",
                  "business_unit_id": 1,
                  "payment_method": "5",
                  "activity": {
                    "highest_level_of_professional_training": 2,
                    "highest_level_of_education": 3,
                    "occupational_title": "Holzaufbereiter",
                    "job_carried_out": "22394",
                    "employee_type": "101",
                    "contractual_structure": "1",
                    "activity_type": 0,
                    "personnel_leasing": 0
                  },
                  "account": {
                    "iban": "DE33760700240012345678",
                    "bic": "DEUTDEDB760"
                  },
                  "address": {
                    "city": "Nürnberg",
                    "country": "D",
                    "house_number": "78",
                    "postal_code": "90329",
                    "street": "Auf der Schanz"
                  },
                  "employment_periods": [
                    {
                      "date_of_commencement_of_employment": "1999-02-17"
                    }
                  ],
                  "personal_data": {
                    "nationality": "000",
                    "sex": "W",
                    "country_of_birth": "000",
                    "date_of_birth": "1971-01-01",
                    "social_security_number": "13010171B975"
                  },
                  "social_insurance": {
                    "contribution_class_health_insurance": 1,
                    "contribution_class_nursing_insurance": 1,
                    "contribution_class_pension_insurance": 1,
                    "contribution_class_unemployment_insurance": 1,
                    "company_number_of_health_insurer": "87880235",
                    "health_insurance_id": 1,
                    "is_additional_contribution_to_nursing_insurance_for_childless_ignored": true
                  },
                  "tax_card": {
                    "child_tax_allowances": 2,
                    "denomination": "ev",
                    "tax_class": "4"
                  },
                  "taxation": {
                    "employment_type": 1,
                    "tax_identification_number": "16985432518",
                    "flat_rate_tax": 0
                  },
                  "vacation_entitlement": {
                    "basic_vacation_entitlement": 30
                  },
                  "vocational_training": {}
                },
                {
                  "surname": "Schlosser",
                  "personnel_number": 2,
                  "first_name": "Max-Muster",
                  "business_unit_id": 1,
                  "payment_method": "5",
                  "activity": {
                    "highest_level_of_professional_training": 1,
                    "highest_level_of_education": 3,
                    "occupational_title": "Bürokaufmann",
                    "employee_type": "102",
                    "contractual_structure": "1",
                    "activity_type": 3,
                    "personnel_leasing": 0
                  },
                  "account": {
                    "iban": "DE94760400610524371200",
                    "bic": "COBADEFF760"
                  },
                  "address": {
                    "city": "Nürnberg",
                    "country": "D",
                    "house_number": "101",
                    "postal_code": "90329",
                    "street": "Roonstr."
                  },
                  "employment_periods": [
                    {
                      "date_of_commencement_of_employment": "2008-09-01"
                    }
                  ],
                  "gross_payments": [
                    {
                      "id": 1,
                      "amount": 490,
                      "salary_type_id": 110,
                      "payment_months": "1,2,3,4,5,6,7,8,9,10,11,12"
                    }
                  ],
                  "personal_data": {
                    "nationality": "000",
                    "sex": "M",
                    "date_of_birth": "1989-02-24",
                    "social_security_number": "13240289S033"
                  },
                  "social_insurance": {
                    "contribution_class_health_insurance": 1,
                    "contribution_class_nursing_insurance": 1,
                    "contribution_class_pension_insurance": 1,
                    "contribution_class_unemployment_insurance": 1,
                    "company_number_of_health_insurer": "42938966",
                    "health_insurance_id": 10,
                    "is_additional_contribution_to_nursing_insurance_for_childless_ignored": false
                  },
                  "tax_card": {
                    "denomination": "rk",
                    "tax_class": "1"
                  },
                  "taxation": {
                    "employment_type": 1,
                    "tax_identification_number": "29876354281",
                    "flat_rate_tax": 0
                  },
                  "vacation_entitlement": {
                    "basic_vacation_entitlement": 27
                  },
                  "vocational_training": {
                    "start": "2019-09-01",
                    "expected_end": "2023-08-31"
                  }
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02419</td><td>restapi.CompanyPersonnelNumbersHaveToBeUnique</td><td>The company personnel number has to be unique.</td></tr><tr><td>#DCO02417</td><td>restapi.PersonnelNumbersHaveToBeUnique</td><td>The personnel number has to be unique.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}": {
      "put": {
        "tags": [
          "Employees"
        ],
        "summary": "Update an employee by client-id and personnel-number",
        "description": "Creates a job to update an employee's data in the payroll program. \nRestrictions: \n- An update of employment periods through this endpoint is not possible via this endpoint. Please use the designated employment period endpoints in this case. If employment periods are sent nonetheless, they will be ignored. \n- An update of the company_personnel_number is not possible in LuG.",
        "operationId": "updateEmployeeByPersonnelNumber",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Target-System",
            "in": "header",
            "description": "Identifier of the target payroll system. Possible Values: lug=LohnUndGehalt, lodas=LODAS (default)",
            "schema": {
              "type": "string"
            },
            "example": "lug"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "The employee data with which the existing employee should be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              },
              "example": {
                "surname": "Schmidt",
                "personnel_number": 1,
                "first_name": "Inge-Muster",
                "business_unit_id": 1,
                "payment_method": "5",
                "activity": {
                  "highest_level_of_professional_training": 2,
                  "highest_level_of_education": 3,
                  "occupational_title": "Holzaufbereiter",
                  "job_carried_out": "22394",
                  "employee_type": "101",
                  "contractual_structure": "1",
                  "activity_type": 0,
                  "personnel_leasing": 0
                },
                "account": {
                  "iban": "DE33760700240012345678",
                  "bic": "DEUTDEDB760"
                },
                "address": {
                  "city": "Nürnberg",
                  "country": "D",
                  "house_number": "78",
                  "postal_code": "90329",
                  "street": "Auf der Schanz"
                },
                "employment_periods": [
                  {
                    "date_of_commencement_of_employment": "1999-02-17"
                  }
                ],
                "personal_data": {
                  "nationality": "000",
                  "sex": "W",
                  "country_of_birth": "000",
                  "date_of_birth": "1971-01-01",
                  "social_security_number": "13010171B975"
                },
                "social_insurance": {
                  "contribution_class_health_insurance": 1,
                  "contribution_class_nursing_insurance": 1,
                  "contribution_class_pension_insurance": 1,
                  "contribution_class_unemployment_insurance": 1,
                  "company_number_of_health_insurer": "87880235",
                  "health_insurance_id": 1,
                  "is_additional_contribution_to_nursing_insurance_for_childless_ignored": true
                },
                "tax_card": {
                  "child_tax_allowances": 2,
                  "denomination": "ev",
                  "tax_class": "4"
                },
                "taxation": {
                  "employment_type": 1,
                  "tax_identification_number": "16985432518",
                  "flat_rate_tax": 0
                },
                "vacation_entitlement": {
                  "basic_vacation_entitlement": 30
                },
                "vocational_training": {}
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr><tr><td>#DCO02435</td><td>restapi.ListInBodyNotAllowed</td><td>List of employees is not allowed.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}/employment-periods/{date-of-commencement-of-employment}": {
      "put": {
        "tags": [
          "Employment Periods"
        ],
        "summary": "Put employment period for client-id and personnel-number and date-of-commencement-of-employment",
        "description": "Creates a job to update a single employment period identified by its commencement date, of the employee identified by their personnel number, who belongs to the client-id given.",
        "operationId": "updateEmploymentPeriodByEmployeeAndDateOfCommencementOfEmployment",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "date-of-commencement-of-employment",
            "in": "path",
            "description": "Date in format yyyy-MM-dd. This defines the date of commencement of employment (start date of the employment period).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01-01"
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Target-System",
            "in": "header",
            "description": "Identifier of the target payroll system. Possible Values: lug=LohnUndGehalt, lodas=LODAS (default)",
            "schema": {
              "type": "string"
            },
            "example": "lug"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "The new start- and end-date for the employment period",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentPeriod"
              },
              "example": {
                "date_of_commencement_of_employment": "2021-01-01",
                "date_of_termination_of_employment": "2022-12-31"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02422</td><td>restapi.EmploymentPeriodDateInvalid</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employment Periods"
        ],
        "summary": "Delete employment period for client-id and personnel-number and date-of-commencement-of-employment",
        "description": "Creates a job to delete a single employment period identified by its commencement date, of the employee identified by their personnel number, who belongs to the client-id given.\n",
        "operationId": "deleteEmploymentPeriodByEmployeeAndDateOfCommencementOfEmployment",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "date-of-commencement-of-employment",
            "in": "path",
            "description": "Date in format yyyy-MM-dd. This defines the date of commencement of employment (start date of the employment period).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01-01"
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Target-System",
            "in": "header",
            "description": "Identifier of the target payroll system. Possible Values: lug=LohnUndGehalt, lodas=LODAS (default)",
            "schema": {
              "type": "string"
            },
            "example": "lug"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02422</td><td>restapi.EmploymentPeriodDateInvalid</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}/employment-periods": {
      "post": {
        "tags": [
          "Employment Periods"
        ],
        "summary": "Post employment periods for client-id and personnel-number",
        "description": "Creates a job to insert new employment periods for the  employee identified by their personnel number, who belongs to the client-id given.",
        "operationId": "saveEmploymentPeriodsByEmployee",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-123"
          },
          {
            "name": "personnel-number",
            "in": "path",
            "description": "Personnel-Number, which identifies the employee in the payroll system.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 10
          },
          {
            "name": "reference-date",
            "in": "query",
            "description": "Month in format yyyy-MM. When retrieving data, this is the month for which the data is fetched. In case of writing data, the sent data is set to be valid from this month onward.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-01"
          },
          {
            "name": "Target-System",
            "in": "header",
            "description": "Identifier of the target payroll system. Possible Values: lug=LohnUndGehalt, lodas=LODAS (default)",
            "schema": {
              "type": "string"
            },
            "example": "lug"
          },
          {
            "name": "Notify-Url",
            "in": "header",
            "description": "Notify url which will be called when this job's status changes, analogous to any registered REST hooks.",
            "schema": {
              "type": "string"
            },
            "example": "http://my-hr-app.com/hr-exchange/callback"
          },
          {
            "name": "Notify-Auth",
            "in": "header",
            "description": "Authentication Header to be sent when sending the notification to the notification url (Notify-Url).",
            "schema": {
              "type": "string"
            },
            "example": "Basic XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
          }
        ],
        "requestBody": {
          "description": "A list of employment periods to be saved",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmploymentPeriod"
                }
              },
              "example": [
                {
                  "date_of_commencement_of_employment": "2001-01-01",
                  "date_of_termination_of_employment": "2005-12-31"
                },
                {
                  "date_of_commencement_of_employment": "2007-04-01",
                  "date_of_termination_of_employment": "2007-04-30"
                },
                {
                  "date_of_commencement_of_employment": "2008-07-15"
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "A job was created for the execution of the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "0217cffb-f5ca-4790-b048-ea59edbee22d",
                  "state": "accepted",
                  "time_stamp": "2022-05-23T10:41:51.301453"
                }
              }
            }
          },
          "400": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02402</td><td>restapi.FormatClientIdFault</td><td>Format of client-id is wrong. Client-id consists of consultant number (max. 7 digits) and client number (max. 5 digits) which are connected by hyphen, e. g. 12345-123</td></tr><tr><td>#DCO02426</td><td>restapi.ValidationError</td><td>Some given values could not be validated successfully. Please check the additional messages for more precise information.</td></tr><tr><td>#DCO02407</td><td>restapi.FormatReferenceDate</td><td>Format of reference date is wrong.</td></tr><tr><td>#DCO02408</td><td>restapi.ParameterReferenceDateMissing</td><td>The reference date was not provided.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02448</td><td>restapi.Unauthorized</td><td>Check if smartcard and token are valid and permissions are granted to client in RVO.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02401</td><td>restapi.AccessDenied</td><td>It is recommended that the user contacts the tax consultant. The third-party solution has to ensure that the used client-id exists in the list of accessible clients.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td>#DCO02440</td><td>restapi.RzKommInsufficientRights</td><td>The tax advisor does not have the necessary rights to receive this request via the RZ-Komm. Please contact the tax advisor so that they can administer the necessary rights.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "#DCO02440",
                  "error_description": "restapi.RzKommInsufficientRights",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02440",
                  "request_id": "unknown"
                }
              }
            }
          },
          "500": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Internal Server Error </td><td>Temporary Error while processing Request. Please try again!</td><td>An unexpected error has occurred. Usually the issue persists only temporarily.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                }
              }
            }
          },
          "504": {
            "description": "<table><tr><th>Error</th><th>Description</th><th>Reason and Solution</th></tr><tr><td> Gateway Timeout </td><td>There is no RZ-Komm subscription for this service and consultant number.</td><td>Contact the tax advisor to create a RZ-Komm subscription.</td></tr></table>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage5xx"
                },
                "example": {
                  "error": "#DCO02431",
                  "error_description": "restapi.RzKommSubscriptionNotFound",
                  "error_uri": "http://www.datev.de/dnlexos/mobile/webApp.aspx?sq=DCO02439",
                  "request_id": "unknown"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client-id}/employees/{personnel-number}/gross-payments": {
      "put": {
        "tags": [
          "Gross Payments"
        ],
        "summary": "Update a list of gross payments for client-id and personnel-number",
        "description": "Creates a job to update a list of gross payments to an employee identified by personnel_number, belongig to the client-id given, in the payroll systems database. \n",
        "operationId": "updateGrossPaymentsByClientIdAndEmployeePersonnelNumber",
        "parameters": [
          {
            "name": "client-id",
            "in": "path",
            "description": "A client-id consisting of a consultant number (max. 7 digits) and a client number (max. 5 digits) connected by a hyphen.",
[...]
