{
	"name": "DATEV Desktop API",
	"values": [
		{
			"key": "resourceurl",
			"value": "https://127.0.0.1:58452",
			"type": "text",
			"description": "",
			"enabled": true
		},
		{
			"key": "user",
			"value": "Benutzer",
			"description": "",
			"enabled": true
		},
		{
			"key": "password",
			"value": "password",
			"description": "",
			"enabled": true
		}
	]
}